body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.all > .top{
    border:1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    padding:15px;
    margin-bottom: 20px;
}

.all > .top > div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width:580px;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}
.message {
    width: 100px;
}

.con {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.title {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type='text'] {
    width: 400px;
}

#clear {
    margin-right: 15px;
}
.wb{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}